@model EnrollmentSys_v3._1.Models.RegisterAccnt

<div>
    <h4>RegisterAccnt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaidenName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaidenName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastSchool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastSchool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolYr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolYr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
